# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
warnings_are_errors: true

os:
  - linux
  - osx
  
r: 
  - oldrel
  - release
  - devel

matrix:
  allow_failures:
    - os: osx
      r: devel
      
r_packages:
  - testthat
  
after_success:
    - Rscript -e 'covr::codecov()'
    - Rscript -e 'pkgdown::build_site()'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  keep-history: true
  local-dir: docs
  on:
    branch: master

    